.extraordinary-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
 }
 .extraordinary-container h1{   
     
     font-family: 'Montserrat', sans-serif;
     
     color: #000777;
    font-size: 3rem;
   
     
  }
  .extraordinary-container svg{   
     
    
    
    color: #000777;
   font-size: 3rem;
  
    
 }
 .extraordinary-item{
    min-width: 20%;
   border-radius: 2rem;
   object-fit: cover;
   object-position: center;
     flex: 1;
 }
 .extraordinary-innerContainer{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    
     width: 80%;
     margin: 10px auto;
     gap: 1rem;
 }
 @media screen and (max-width:998px) {
  .extraordinary-item{
    min-width: 35%;
  }
  
 }